<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" ng-app="UniversalLinkValidator" class="ng-scope">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AASA Validator | Branch</title>

    <meta name="keywords" content="Universal links, universal links checker, universal links validator, apple-app-site-association">
    <meta name="description" content="Branch’s Universal Links Validator analyzes your site to check if your apple-app-site-association is properly hosted for Universal Links.">

    <link rel="apple-touch-icon" sizes="57x57" href="//branch.io/img/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="//branch.io/img/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="//branch.io/img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="//branch.io/img/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="//branch.io/img/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="//branch.io/img/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="//branch.io/img/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="//branch.io/img/favicon/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="//branch.io/img/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="//branch.io/img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="//branch.io/img/favicon/favicon-32x32.png" sizes="32x32">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,600,300' rel='stylesheet' type='text/css'>
    <meta name="msapplication-TileColor" content="#65d3f7">
    <meta name="msapplication-TileImage" content="//branch.io/img/favicon/mstile-144x144.png">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
    <script src="static/js/branchAttributionScripts.js"></script>
  </head>

  <body ng-controller="MainController">
    <nav class="navbar navbar-main">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" id="dropdown-trigger" data-toggle="collapse" data-target="#navbar-top" aria-expanded="false">
            <i class="branch-menu"></i>
          </button>
          <div class="navbar-brand">
            <a href="/" class="logo-container">
              <div class="logo"><img src="https://branch.io/img/logo_white.png" alt="BranchMetrics" title="Branch Metrics" /></div>
            </a>
          </div>
        </div>

        <div class="collapse navbar-collapse" id="navbar-top">
          <ul class="nav navbar-nav">
            <li><a onclick="mixpanel.track('MW - Header - Developer');" href="https://developer.branch.io/">Developer</a></li>
            <li><a onclick="mixpanel.track('MW - Header - Resources');" href="/resources">Marketer</a></li>
            <li><a onclick="mixpanel.track('MW - Header - Features');" href="/features">Features</a></li>
            <li><a onclick="mixpanel.track('MW - Header - Support');" href="https://support.branch.io">Support</a></li>
            <li><a onclick="mixpanel.track('MW - Header - Blog');" href="https://blog.branch.io">Blog</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://www2.branch.io/request-a-demo/" onclick="mixpanel.track('MW - Header - Demo');">Request Demo</a></li>
            <li id="sign-in-button">
              <a href="https://dashboard.branch.io/login" onclick="mixpanel.track('MW - Header - Sign In');">Sign In</a>
            </li>
            <li>
              <a href="https://dashboard.branch.io/" onclick="mixpanel.track('MW - Header - ' + $(this).find('strong').html())">
                <script>if (document.cookie.match(new RegExp('(?:^|;)\\s?' + 'branch_loggedin' + '=(.*?)(?:;|$)', 'i'))) { document.write('<strong>Dashboard</strong>'); document.getElementById('sign-in-button').style.display = 'none'; } else { document.write('<strong>Sign Up Free</strong>'); }</script>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Navbar Script -->
    <script type="text/javascript">
      $(document).ready(function(){
        $('#dropdown-trigger').click(function(e){
          var $elm = $('#navbar-top');
          if($elm.hasClass('in')){
            e.stopPropagation();
            $elm.collapse('hide');
          }
        });
      });
    </script>

    <main class="ng-scope" ng-view>
      <div class="container">
        <div class="well form-horizontal col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
          <div class="validator-title">Apple App Site Association (AASA) Validator</div>
          <p>
          The AASA Validator, formerly the Universal Links Validator, can be used to test if your website is properly configured for Universal Links. We’ll test your domain against Apple’s requirements for hosting your Apple App Site Association file along with what we have seen in production that leads to a successful implementation of Universal Links. Properly setting it up is a critical step in ensuring that your Universal Links work properly so you’re able to give your iOS users the best possible experience. If your AASA validates, and Universal Links are still broken, you can use the
          <a href="/resources/universal-links" target="_blank"> Universal Links Validator</a>
          to test your Xcode project configuration.
          <br/><br/>
          In addition to your domain, you may also enter your Apple App Prefix and Bundle Identifier to validate that the correct values from your project are present. If your Apple App Site Association file is properly formatted, we’ll return it for you. If not, we’ll show you which tests failed or did not run due to a previous failed test.
          </p>
          <br/><br/>
          <div class="form-group">
            <label class="col-sm-3 control-label input-required">Domain / Web Page</label>
            <div class="col-sm-9 no-space">
              <input class="form-control" ng-model="domainInputVal" type="text" ng-keyup="keyUp($event)" ng-blur="cleanDomain($event)" placeholder="jet.com">
            </div>
            <div class="form-group">
            <label class="col-sm-3 control-label" ng-show="domainInputVal" ng-cloak>Apple App Prefix</label>
            <div class="col-sm-9 no-space" ng-show="domainInputVal" ng-cloak>
              <input class="form-control" ng-model="teamIdentifier" type="text" ng-keyup="keyUp($event)" placeholder="Optional">
            </div>
          </div>
            <label class="col-sm-3 control-label" ng-show="domainInputVal" ng-cloak>Bundle Identifier </label>
            <div class="col-sm-9 no-space" ng-show="domainInputVal" ng-cloak>
              <input class="form-control" ng-model="bundleIdentifier" type="text" ng-keyup="keyUp($event)" placeholder="Optional">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9 no-space">
             <button class="new-button" ng-click="beginTest()">Test</button>
              <button class="new-button" ng-show="showresultsvalue" ng-click="scrollTo()">Results</button>
             </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div ng-repeat="(domain, results) in domains" ng-cloak id="resultsbox">
          <div class="alert alert-success" ng-if="aasaIsEntirelyValid(results)">
            <b>{{ domain }}</b> -- This domain validates, JSON format is valid, and the Bundle and Apple App Prefixes match (if provided). <br> Below you’ll find a list of tests that were run and a copy of your apple-app-site-association file:<br/><br/>
            <ul class="list-group" ng-if="isEmpty(results.errors)">
              <li hidden></li>
              <li class="list-group-item list-group-item-success">
                <span class="glyphicon glyphicon-ok" ></span>
                {{ displayMessage('badDns', didErrorOccur='success_without_congrats') }}
              </li>
              <li class="list-group-item  list-group-item-success">
                <span class="glyphicon glyphicon-ok"></span>
                {{ displayMessage('httpsFailure', didErrorOccur=false) }}
              </li>
              <li class="list-group-item  list-group-item-success">
                <span class="glyphicon glyphicon-ok"></span>
                {{ displayMessage('serverError', didErrorOccur=false) }}
              </li>
              <li class="list-group-item  list-group-item-success">
                <span class="glyphicon glyphicon-ok"></span>
                {{ displayMessage('badContentType', didErrorOccur=false) }}
              </li>
              <li class="list-group-item  list-group-item-success">
                <span class="glyphicon glyphicon-ok"></span>
                {{ displayMessage('invalidJson', didErrorOccur=false) }}
              </li>
              <li hidden></li>
            </ul>
            <pre>{{ prettyPrintAASA(results.aasa) }}</pre>

          </div>
          <div class="alert alert-warning" ng-if="aasaValidButIdentfiersDontMatch(results)">
            <b>{{ domain }}</b> -- This domain has a valid AASA, but does not contain provided Bundle / Apple App Prefix Identifiers. Bundle information can be found in the General tab for your build target in Xcode. App Prefix information can be found on your Apple Developer Account on the App IDs page.<br/><br/>
            <pre>{{ prettyPrintAASA(results.aasa) }}</pre>
          </div>
          <div class="alert alert-warning" ng-if="aasaValidButFormatInvalid(results)">
            <b>{{ domain }}</b> -- This domain's AASA was pulled, but the JSON format seems Invalid. Please reach out to <a href="mailto:support@branch.io" target="_blank"> support@branch.io </a> <br/><br/>
            <pre>{{ prettyPrintAASA(results.aasa) }}</pre>
          </div>
          <ul class="list-group" ng-if="!isEmpty(results.errors)">
            <li class="list-group-item list-group-item-danger"><b>{{ domain }}</b> – This domain has some validation issues
            </li>
            <li class="list-group-item list-group-item-danger" ng-if="results.errors.errorOutOfScope">A request to this domain failed.
            </li>
            <li class="list-group-item {{ listGroupItemClassForValue(results.errors.badDns) }}" ng-if="!results.errors.errorOutOfScope">
              <span class="glyphicon {{ glyphiconClassForValue(results.errors.badDns) }}"></span>
              {{ displayMessage('badDns', results.errors.badDns) }}
            </li>
            <li class="list-group-item {{ listGroupItemClassForValue(results.errors.httpsFailure) }} clickable-result">
              <span class="glyphicon {{ glyphiconClassForValue(results.errors.httpsFailure) }}"></span>
              {{ displayMessage('httpsFailure', results.errors.httpsFailure) }}
              <a href="https://dev.branch.io/getting-started/dashboard-guide/#setting-a-custom-link-domain" target="_blank">Learn More</a>
            </li>
            <li class="list-group-item {{ listGroupItemClassForValue(results.errors.serverError) }} clickable-result">
              <span class="glyphicon {{ glyphiconClassForValue(results.errors.serverError) }}"></span>
               {{ displayMessage('serverError', results.errors.serverError) }}
               <a href="https://www.addedbytes.com/articles/for-beginners/http-status-codes" target="_blank">Learn More</a>
            </li>
            <li  class="list-group-item {{ listGroupItemClassForValue(results.errors.badContentType) }}">
              <span class="glyphicon {{ glyphiconClassForValue(results.errors.badContentType) }}"></span>
              {{ displayMessage('badContentType', results.errors.badContentType) }}
            </li>
             <li  class="list-group-item {{ listGroupItemClassForValue(results.errors.invalidJson) }} clickable-result">
              <span class="glyphicon {{ glyphiconClassForValue(results.errors.invalidJson) }}"></span> {{ displayMessage('invalidJson', results.errors.invalidJson) }}
              <a href="http://jsonlint.com/" target="_blank">Learn More</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="container">
        <h6 class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">Disclaimer: This product is not affiliated with Apple. It utilizes code, with permission from the author, of an open-source repo found <a href ="https://github.com/shortstuffsushi/Universal-Link-Validator" target="_blank">here</a>. If you have questions about the tool, or encounter an issue with your Universal Links setup, please contact <a href="mailto:support@branch.io">support@branch.io</a>.</h6>
      </div>
    </main>
    <section class="section-get-started text-center" ng-show="showresultsvalue">
        <h1 class="text-xs-2">Take the pain out of Universal Links. Start using Branch.</h1>
        <a href="https://dashboard.branch.io/" class="new-button" onclick="recordUser()">Get Started</a>
    </section>

    <div class="footer-inner">
      <div class="container">

        <div class="col-md-2 col-sm-offset-0 col-md-offset-1">
          <span class="footer-title"><a class="inherit" href="{{site.url}}/" onclick="mixpanel.track('MW - Footer: Branch');">Branch</a></span>
          <ul>
            <li><a href="{{site.url}}/about" onclick="mixpanel.track('MW - Footer: About Us');">About Us</a></li>
            <li><a href="{{site.url}}/partners" onclick="mixpanel.track('MW - Footer: Partners');">Partners</a></li>
            <li><a href="https://support.branch.io/support/tickets/new" target="_blank" onclick="mixpanel.track('MW - Footer: Contact Us');">Contact Us</a></li>
            <li>
              <a href="{{site.url}}/privacy-policy">Privacy | </a>
              <a href="{{site.url}}/terms-and-conditions">Terms</a>
            </li>
            <li><a href="{{site.url}}/policies/#ad-choices">Ad Choices</a></li>
          </ul>
        </div>
        <div class="col-md-2">
          <span class="footer-title"><a class="inherit" href="{{site.url}}/learn" onclick="mixpanel.track('MW - Footer: Learn');">Learn</a></span>
          <ul>
            <li><a href="{{site.url}}/what-is-deep-linking" onclick="mixpanel.track('MW - Footer: What is Deep Linking?');">What Is Deep Linking?</a></li>
            <li><a href="{{site.url}}/resources/#case-studies" onclick="mixpanel.track('MW - Footer: Case Studies');">Case Studies</a></li>
            <li><a href="{{site.url}}/resources" onclick="mixpanel.track('MW - Footer: Resources');">Resources</a></li>
            <li><a href="https://blog.branch.io" target="_blank" onclick="mixpanel.track('MW - Footer: Blog');">Blog</a></li>
            <li><a href="{{site.url}}/press" onclick="mixpanel.track('MW - Footer: Press');">Press</a></li>
          </ul>
        </div>

        <div class="col-md-2">
          <span class="footer-title"><a class="inherit" href="{{site.url}}/features" onclick="mixpanel.track('MW - Footer: Product');">Product</a></span>
          <ul>
            <li><a href="{{site.url}}/features" onclick="mixpanel.track('MW - Footer: Features');">Features</a></li>
            <li><a href="{{site.url}}/pricing" onclick="mixpanel.track('MW - Footer: Pricing');">Pricing</a></li>
            <li><a href="{{site.url}}/how-branch-links-work" onclick="mixpanel.track('MW - Footer: How Links Work');">How Links Work</a></li>
            <li><a href="https://dev.branch.io/getting-started/supported-standards" target="_blank" onclick="mixpanel.track('MW - Footer: Supported Standards');">Supported Standards</a></li>
            <li><a href="{{site.url}}/why-branch" onclick="mixpanel.track('MW - Footer: How Branch Differs');">How Branch Differs</a></li>

          </ul>
        </div>

        <div class="col-md-2">
          <span class="footer-title">Get Involved</span>
          <ul>
            <li><a href="{{site.url}}/strategic-partners" onclick="mixpanel.track('MW - Footer: Strategic Partners');">Strategic Partners</a></li>
            <li><a href="{{site.url}}/careers" onclick="mixpanel.track('MW - Footer: Careers');">Careers</a></li>
            <li><a href="http://www.meetup.com/pro/mobilegrowth/" target="_blank" onclick="mixpanel.track('MW - Footer: Meetups');">Meetups</a></li>
            <li><a href="https://branchoutsf.com" onclick="mixpanel.track('MW - Footer: Branchout');">Branchout Conference</a></li>
            <li><a href="{{site.url}}/feedback" onclick="mixpanel.track('MW - Footer: Feedback');">Provide Feedback</a></li>
          </ul>
        </div>

        <div class="col-md-2">
          <span class="footer-title"><a class="inherit" href="https://dev.branch.io" target="_blank" onclick="mixpanel.track('MW - Footer: Documentation');">Documentation</a></span>
          <ul>
            <li><a href="https://start.branch.io" target="_blank" onclick="mixpanel.track('MW - Footer: Get Started');">Get Started</a></li>
            <li><a href="https://dev.branch.io/getting-started/configuring-links/guide/" target="_blank" onclick="mixpanel.track('MW - Footer: Link Configuration');">Link Configuration</a></li>
            <li><a href="https://dev.branch.io/getting-started/sdk-integration-guide/" target="_blank" onclick="mixpanel.track('MW - Footer: SDK Integration');">SDK Integration</a></li>
            <li><a href="https://support.branch.io/support/solutions/folders/6000033099" target="_blank" onclick="mixpanel.track('MW - Footer: FAQ');">FAQ</a></li>
            <li><a href="https://support.branch.io" target="_blank" onclick="mixpanel.track('MW - Footer: Support');">Support</a></li>
          </ul>
        </div>

      </div>
    </div>
    <div class="bottom-footer">
      <div class="container">
        <div class="col-md-6 text-left">
          <div class="copyright">&copy; 2017 <span style="font-weight:500">Branch Metrics</span>. All rights reserved.</div><div class="clearfix"></div>
        </div>
      </div>
    </div>

    <script src="static/js/factories/DomainFactory.js"></script>
    <script src="static/js/controllers/MainController.js"></script>
    <script src="static/js/index.js"></script>
  </body>
</html>
